@model List<PortfolioCore.Entities.Experience>

@{
    ViewData["Title"] = "ExperienceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Deneyim Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExperienceId</td>
            <td>@item.Title</td>
            <td>@item.SubTitle</td>
            <td>@item.Description</td>
            <td>@item.ExperienceDate</td>
            <td><a href="" class=" btn btn-danger">Sil</a></td>
            <td><a href="" class=" btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="" class="btn btn-primary">Yeni Deneyim Girişi</a>

