@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>@ViewBag.v0</h2>

<div class="alert alert-primary">Toplam Yetenek Sayısı: @ViewBag.v1</div>
<div class="alert alert-info">Toplam Yetenek Puanı: @ViewBag.v2</div>
<div class="alert alert-success">Değeri 70'den Büyük Olan Yetenek Sayısı: @ViewBag.v3</div>
<div class="alert alert-warning">Yeteneklerin Ortalama Değeri: @ViewBag.v4</div>
<div class="alert alert-danger">Deneyim Sayısı: @ViewBag.v5</div>
<div class="alert alert-dark">Alt Başlığı Developer Sayısı: @ViewBag.v6</div>
<div class="alert alert-primary">Okunmamış Mesaj Sayısı: @ViewBag.v7</div>
<div class="alert alert-warning">Proje Sayısı: @ViewBag.v8</div>
<div class="alert alert-success">Hizmet Sayısı: @ViewBag.v9</div>
<div class="alert alert-danger">Toplam Referans Sayısı: @ViewBag.v10</div>

